.idea
vendor
phpstan.neon

src/Migration/Migration1607407900WbmTagManagerAHCustom.php
src/Migration/Migration1607958778WbmTagManagerAHCustom2.php
src/Migration/Migration1608035360WbmTagManagerAHCustom3.php
src/Migration/Migration1611594584AHCustomFix.php
src/Migration/properties.1607407900.sql
src/Migration/properties.1607958778.sql
src/Migration/properties.1608035360.sql
